# Requirements from scientific-python-lectures submodule
# NOTE: The submodule must be initialized for this to work
# GitHub automatic dependency submission will fail if the submodule is not present
-r scientific-python-lectures/requirements.txt

# Additional requirements for translations
sphinx-intl==2.3.1